@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
    --one-color: #22254b;
    --two-color: #373b69
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--one-color);
}

header {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: var(--two-color);
}

.search {
    background-color: transparent;
    border: 2px solid var(--one-color);
    border-radius: 50px;
    font-family: inherit;
    padding: .5rem 1rem;
    color: #fff;
}

.search::placeholder {
    color: #7378c5;
}

.search:focus {
    outline: none;
    background-color: var(--one-color);
}

main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    max-width: 300px;
    margin: 1rem;
    background-color: var(--two-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
    border-radius: 3px;

    position: relative;

    overflow: hidden;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: .5rem 1rem 1rem;
    letter-spacing: .5px;
}

.movie-info h3 {
    margin-top: 0;
}

.movie-info span {
    background-color: var(--one-color);
    padding: .25rem .5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green {
    color: lightgreen;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}

.overview {
    background-color: #fff;
    padding: 2rem;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;

    transform: translateY(100%);
    transition: transform .5s ease-in;
}

.movie:hover .overview {
    transform: translateY(0%);
}