@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: darksalmon;
    margin: 0;
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

div {
    position: absolute;
    bottom: 20px; /* 20px above bottom */

    background: rgba(0, 0, 0, .1);
    padding: 10px 20px;
    font-size: 18px;
}

input {
    background-color: darksalmon;
    text-align: center;
    font-size: 18px;
    border: none;

    width: 50px;
    padding: 5px;
}

input:focus {
    outline: none;
}